@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html {
        scroll-behavior: smooth;
    }

    *:focus {
        outline: none;
    }

    body {
        font-family: "Mate SC", serif;
    }

    .font-MATE {
        font-family: "Mate SC", serif;
    }

    li>a {
        position: relative;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    :focus {
        outline: none;
    }

    li>a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    li>a:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }

    .font-poem {
        font-family: "Dancing Script", cursive;
    }

    #headerPrincipal {
        background: url("./assets/backgroundImage.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }


    #verseContainer {
        font-family: "Dancing Script", cursive;
        background: rgba(0, 0, 0, 0.235);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }


    #loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;

        animation: spin 2s linear infinite;
    }

    #ajedrez {
        background: url("./assets/poems-bg/ajedrez.jpg") no-repeat center;
        background-size: cover;

    }

    #madre {
        background: url("./assets/poems-bg/madre.jpg") no-repeat center;
        background-size: cover;

    }

    #coffee {
        background: url("./assets/poems-bg/cafe.jpg") no-repeat center;
        background-size: cover;


    }

    #barrilete {
        background: url("./assets/poems-bg/barrilete.jpg") no-repeat center;
        background-size: cover;


    }

    #hechicero {
        background: url("./assets/poems-bg/hechicero.jpg") no-repeat center;
        background-size: cover;


    }

    #ardillita {
        background: url("./assets/poems-bg/ardillita.jpg") no-repeat center;
        background-size: cover;

    }

    #abrazame {
        background: url("./assets/poems-bg/abrazame.jpg") no-repeat center;
        background-size: cover;


    }

    #soldado {
        background: url("./assets/poems-bg/soldado.jpg") no-repeat center;
        background-size: cover;
        background-position: top;

    }

    #maestra {
        background: url("./assets/poems-bg/maestra.jpg") no-repeat center;
        background-size: cover;

    }

    #tiempo {
        background: url("./assets/poems-bg/tiempo.jpg") no-repeat center;
        background-size: cover;
    }

    #tierra {
        background: url("./assets/poems-bg/tierra.jpg") no-repeat center;
        background-size: cover;
    }

    #tango {
        background: url("./assets/poems-bg/tango.jpg") no-repeat center;
        background-size: cover;
    }

    #navidad {
        background: url("./assets/poems-bg/navidad.jpg") no-repeat center;
        background-size: cover;
    }

    #reflexion {
        background: url("./assets/poems-bg/reflexion.jpg") no-repeat center;
        background-size: cover;
    }

    #palabras {
        background: url("./assets/poems-bg/palabras.jpg") no-repeat center;
        background-size: cover;
    }

    #techo {
        background: url("./assets/poems-bg/techo.jpg") no-repeat center;
        background-size: cover;
    }

    #elemento {
        background: url("./assets/poems-bg/elemento.jpg") no-repeat center;
        background-size: cover;
    }

    #poesia {
        background: url("./assets/poems-bg/poesia.jpg") no-repeat center;
        background-size: cover;
    }

    #bailarina {
        background: url("./assets/poems-bg/bailarina.jpg") no-repeat center;
        background-size: cover;
    }

    #nostalgia {
        background: url("./assets/poems-bg/nostalgia.jpg") no-repeat center;
        background-size: cover;
    }

    #ocaso {
        background: url("./assets/poems-bg/ocaso.jpg") no-repeat center;
        background-size: cover;
    }

    #mujercitas {
        background: url("./assets/poems-bg/mujercitas.jpg") no-repeat center;
        background-size: cover;
    }

    #navegando {
        background: url("./assets/poems-bg/navegando.jpg") no-repeat center;
        background-size: cover;
    }

    #rosa-y-agua {
        background: url("./assets/poems-bg/rosa-y-agua.jpg") no-repeat center;
        background-size: cover;
    }

    #ser {
        background: url("./assets/poems-bg/ser.jpg") no-repeat center;
        background-size: cover;
    }

    #sed {
        background: url("./assets/poems-bg/sed.jpg") no-repeat center;
        background-size: cover;
    }

    #aromas {
        background: url("./assets/poems-bg/aromas.jpg") no-repeat center;
        background-size: cover;
    }

    #burocracia {
        background: url("./assets/poems-bg/burocracia.jpg") no-repeat center;
        background-size: cover;
    }

    #el-sol-y-la-luna {
        background: url("./assets/poems-bg/el-sol-y-la-luna.jpg") no-repeat center;
        background-size: cover;
    }

    #niñita {
        background: url("./assets/poems-bg/niñita.jpg") no-repeat center;
        background-size: cover;
    }

    #mariposa {
        background: url("./assets/poems-bg/mariposa.jpg") no-repeat center;
        background-size: cover;
    }

    #dime {
        background: url("./assets/poems-bg/dime.jpg") no-repeat center;
        background-size: cover;
    }

    #impotencia {
        background: url("./assets/poems-bg/impotencia.jpg") no-repeat center;
        background-size: cover;
    }

    #zapato {
        background: url("./assets/poems-bg/zapato.jpg") no-repeat center;
        background-size: cover;
    }

    #viejo {
        background: url("./assets/poems-bg/viejo.jpg") no-repeat center;
        background-size: cover;
    }

    #cautivo {
        background: url("./assets/poems-bg/cautivo.jpg") no-repeat center;
        background-size: cover;
    }

    #ilusion {
        background: url("./assets/poems-bg/ilusion.jpg") no-repeat center;
        background-size: cover;
    }

    #alma-purpura {
        background: url("./assets/poems-bg/alma-purpura.jpg") no-repeat center;
        background-size: cover;
    }

    #tu {
        background: url("./assets/poems-bg/tu.jpg") no-repeat center;
        background-size: cover;
    }

    #rimas {
        background: url("./assets/poems-bg/rimas.jpg") no-repeat center;
        background-size: cover;
    }

    #veinte {
        background: url("./assets/poems-bg/2020.jpg") no-repeat center;
        background-size: cover;
    }

    #escuela {
        background: url("./assets/poems-bg/escuela.jpg") no-repeat center;
        background-size: cover;
    }

    #rafagas {
        background: url("./assets/poems-bg/rafagas.jpg") no-repeat center;
        background-size: cover;
    }

    #ilusiones {
        background: url("./assets/poems-bg/ilusiones.jpg") no-repeat center;
        background-size: cover;
    }

    #acurrucada {
        background: url("./assets/poems-bg/acurrucada.jpg") no-repeat center;
        background-size: cover;
    }

    #pensamiento {
        background: url("./assets/poems-bg/pensamiento.jpg") no-repeat center;
        background-size: cover;
    }

    #tuya {
        background: url("./assets/poems-bg/tuya.jpg") no-repeat center;
        background-size: cover;
    }

    #camino-sin-fin {
        background: url("./assets/poems-bg/camino-sin-fin.jpg") no-repeat center;
        background-size: cover;
    }

    #me-haces-bien {
        background: url("./assets/poems-bg/me-haces-bien.jpg") no-repeat center;
        background-size: cover;
    }

    #latidos {
        background: url("./assets/poems-bg/latidos.jpg") no-repeat center;
        background-size: cover;
    }

    #una-vuelta-mas {
        background: url("./assets/poems-bg/vuelta.jpg") no-repeat center;
        background-size: cover;
    }

    #el-amor {
        background: url("./assets/poems-bg/el-amor.jpg") no-repeat center;
        background-size: cover;
    }

    #azucar {
        background: url("./assets/poems-bg/azucar.jpg") no-repeat center;
        background-size: cover;
    }

    #musa {
        background: url("./assets/poems-bg/musa.jpg") no-repeat center;
        background-size: cover;
    }

    #destino {
        background: url("./assets/poems-bg/destino.jpg") no-repeat center;
        background-size: cover;
    }

    #tercer-ojo {
        background: url("./assets/poems-bg/tercer-ojo.jpg") no-repeat center;
        background-size: cover;
    }

    #te-quiero {
        background: url("./assets/poems-bg/te-quiero.jpg") no-repeat center;
        background-size: cover;
    }

    #prohibido {
        background: url("./assets/poems-bg/prohibido.jpg") no-repeat center;
        background-size: cover;
    }

    .autor-img {
        background-image: url('./assets/autor.jpg');
    }

    .poem-container::before {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(36, 36, 36, 0.8);
        z-index: -1;
    }

    .poem-container {
        padding-bottom: 2rem;
        position: relative;
        z-index: 2;
        font-family: "Dancing Script";
        user-select: none;

    }

    .poem-container>p:nth-child(2) {
        margin-bottom: 2rem;

    }

    .autor-name:after {
        content: "Buenos Aires,Argentina";
        font-size: 1rem;
        display: block;
        color: white;

        font-family: "Mate SC";
    }
}