*:focus {
  outline: none;
}
body {
  font-family: "Mate SC", serif;
}
a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

#title {
  font-family: "Dancing Script", cursive;
  border-radius: 40px;
  background: #bba9f087;
  box-shadow: 29px 29px 54px #898b79, -29px -29px 54px #ffffff;
}

#headerPrincipal {
  background: url("./assets/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

#test {
  font-family: "Dancing Script";
}
