a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

#title {
  font-family: "Mate SC", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 65px;
  background: #d2d1ef;
  box-shadow: 29px 29px 54px #7a798b, -29px -29px 54px #ffffff;

  width: 100%;
}

#main {
  background: url("/public/assets/bgInk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
